.works-section {
  text-align: center;
  /* outline: 1px solid red; */
  padding: 0 150px;
}
.works-section h2 {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.works-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
}
.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  background-color: rgba(0, 0, 0, 0.15);
  gap: 0;
  /* width: 25vw; */
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}
.work-img-cont {
  transition: all 0.25s;
}
.work-container img {
  height: 250px;
  /* object-fit: cover; */
  filter: drop-shadow(1px 1px 5px #000000);
  border-radius: 1px;
}
.work-container:hover .work_text {
  background-color: #fff;
  color: #000000;
  padding: 1em 0;
  bottom: 0px;
}
.work-container:hover .description_container {
  color: #000000;
}

.work_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  position: absolute;
  bottom: 10px;
  background-color: #00000090;
  transition: all 0.3s;
}
.work_text h3 {
  margin: 0;
}
.description_container {
  color: #fff;
  font-weight: 300;
}
